# Игнорировать файлы окружения
.env

# Игнорировать каталог с бинарными файлами
/bin

# Игнорировать каталог с зависимостями Go
/vendor

# Игнорировать файлы, создаваемые при тестировании/сборке Go
*.test
*.test.log

# Игнорировать каталоги IDE и редакторов
.idea
*.swp
*.swo
*.swn
*.bak
